<% layout('/layouts/boilerplate')%>


<!-- SEARCH BAR START -->
<div class="homePage" id="landing-header">
    <div id="cluster-map"></div>
    <h2 class="text-center mt-4">YelpCamp</h2>
    <br>
    <div id="container" class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center">
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="input-group flex-fill">
                        <input type="text" name="search" placeholder="Campground search....."
                            class="form-control input-sm">
                        <div class="input-group-append">
                            <input type="submit" value="Search" class="btn btn-secondary">
                        </div>
                    </div>
                </form>
                <br>
                <a href="/campgrounds" class="btn btn-secondary col-6 col-md-7 mx-auto">View All Campground</a>
                <br>
                <br>
                <% for (let campground of removedItem){%>
                    <a class="btn btn-secondary col-6 col-md-7 mx-auto mb-4" 
                        href="/campgrounds/<%= campground._id %>">Random Campground</a>
                    <% }%>
            </div>
        </div>
    </div>














<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>



