body {
    background-color:rgba(247, 239, 239, 0.5);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974328/YelpCamp/campsite3_rx4ovt.jpg");
    position: relative; 
    height: 100vh;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

body::before {    
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url();
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

 h2 {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: auto;
  }
.lead{
    position: relative;
    z-index: 1;
}
.lead, p{
  font-size: 14px;
    font-family: 'Lato', sans-serif;
  }
  
.landing-head{
    width: 90vw;
    z-index: 1;
}

.cover-container {
    max-width: 100vw;
}

.nav-link {
    font-size: 14px;
    padding: 0.25rem 0;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}
 
.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 23s infinite  ; 
  } 

  .slideshow li:nth-child(1) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974328/YelpCamp/campsite1_ldrvhs.jpg");
    animation-delay: 6s; 
  }
  .slideshow li:nth-child(2) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974327/YelpCamp/campsite2_irxeko.jpg");
    animation-delay: 9s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974328/YelpCamp/campsite3_rx4ovt.jpg");
    animation-delay: 12s; 
  }

  .slideshow li:nth-child(4) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974328/YelpCamp/campsite4_k3ewyx.jpg");
    animation-delay: 15s; 
  }
 
  .slideshow li:nth-child(5) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/tomscloudnamez/image/upload/v1609974365/YelpCamp/campsite5_uonr99.jpg");
    animation-delay: 18s; 
  }

  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 0.8;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 0.8;
    }
    30% {
      opacity: 0;
      
    }

  }
  
  #showMe {
    animation: cssAnimation 5s 4s forwards;
    opacity: 0; 
  }
  
  @keyframes cssAnimation {
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }


  #showMeHead {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    animation: cssAnimation 8s 2s forwards;
    opacity: 0; 
  }
  
  @keyframes cssAnimation {
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }


  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }


footer{ 
  z-index: 1;
}